# Dependency Directories
node_modules/
ui/node_modules/

# Build and Distribution Directories
dist/
ui/dist/
apps/**/dist/
coverage/

# Log Files
*.log
npm-debug.log*

# Lock Files
pnpm-lock.yaml

# Configuration and Environment
.env
.vscode/

# macOS Files
.DS_Store